/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full viewport control */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Base font */
body {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #0e0c0a;
  color: #f5f5f5;
}